html, body {
  margin: 0;
  padding: 0;
}
/*#00BFFF
	#E6E6FA
  #FFFFF0
  #989898*/

  *{
    color: #FFFFF0;
  }

#log{
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}

div.container{
  margin: 0;
  outline: none;
  padding: 0px;
  color: #FF4500;
}

header {
  background:#5F9EA0;
  position: static;
  height: 150px;
  top: 0px;
  width: 100%;
}

h1 {
  text-align: center;
  padding-top: 30px;
  margin-top: 0px;
}

#nav{
  text-align: center;
  position: absolute;
  top: 100px;
  left: 42%;
  width: 200px;
}

#user-icon{
  width: 30px;
  height: 30px;
}

#imp-utente{
  text-decoration: none;
  opacity:0.7;
}

#one {
  margin-top: 7px;
  position: absolute;
  margin-left: 10px;
}

aside {
  position: relative;
  width: 20%;
  background: #2F4F4F;
  height: 609px;
  }


#form {
    border: 2px solid #FFFFF0;
    border-left: none;
    border-right: none;
    background:#2F4F4F;
    opacity:0.5;
    width: 80%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    text-align: center;
  }

#barra {
    border: none;
    height: 35px;
    width: 150px;
    text-align: center;
    background:#2F4F4F;
  }

#barra::-webkit-input-placeholder {
    color: #FFFFF0;
    opacity:0.8;
  }

#bott {
    border: none;
    background:#2F4F4F;
    height: 37px;
    width: 20px;
    opacity:0.8;
    margin-left: 10px;
    background-image: url(search-icon.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
  }

  #mymusic{
    margin-top: 40px;
    margin-left: 20px;
    font-family: fantasy;
  }

h3{
  opacity: 0.7;
}

  #menu {
    text-decoration: none;
    opacity:0.7;
    margin-left: 60px;
  }

  hr {
    margin-left: 0px;
    margin-top: 0px;
    width: 250px;
    opacity:0.7;
  }

article{
  position: absolute;
  bottom: 0px;

}

iframe {
  position: absolute;
  right: 0px;
  top:150px;
  width: 80%;
  height: 606px;
}
